<div class="container-fluid px-0  bg-ebay-background ">
  <div class="container-lg px-0  px-lg-3 px-xl-5    ">
    <!--    <app-main-categories-sm></app-main-categories-sm>-->
    <div class="container-fluid  px-0">
      <div class="row gx-4 py-2 py-lg-5 justify-content-center">
        <div class="d-none d-lg-block col-lg-3    ">
          <app-search-filter-lg></app-search-filter-lg>
        </div>
        <div class="col-12 col-sm-10 col-lg-9     ">
          <div class="d-flex flex-column gap-0 gap-md-3 " *ngIf="searchResults">
            <app-search-item *ngFor="let res of searchResults"
                             [item]="res"></app-search-item>

          </div>
          <div class="d-flex flex-column gap-0 gap-md-3 " *ngIf="!searchResults">
            <app-search-item-placeholder *ngFor="let res of [].constructor(15)"
                             ></app-search-item-placeholder>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
