<div class="bg-white p-2">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <span class="fw-normal " style="font-weight: 500!important;;">Kategorien</span>
    <span *ngIf="!isSearch" class="fw-normal small text-ebay">Alle anzeigen</span>
  </div>


  <div *ngIf="categoryService.getActiveCategory()===allCategories "
       class="d-flex flex-column gap-1">
    <div *ngFor="let item of categories" class="d-flex flex-column ">
      <span (click)="categoryService.setActiveCategory(item);
                     searchService.onUpdate()"
            class="text-black cursor-pointer w-auto" style="font-size: 12px;">{{item.name}}</span>
      <div *ngIf="item.children && !isSearch" class="d-flex flex-column  ps-2">
        <span *ngFor="let it of item.children;index as i" class="text-black-50  cursor-pointer w-auto"
              [class.d-none]="active!==item && i>2"
              style="font-size: 10px"
              (click)="categoryService.setActiveCategory(it);
                       searchService.onUpdate()"
        >{{it.name}}</span>
      </div>
      <span *ngIf="!isSearch"
            [class.d-none]="active===item" (click)="active=item"
            class="text-ebay opacity-75 ps-2 cursor-pointer w-auto"
            style="font-size: 10px">Mehr...</span>
      <div *ngIf="!isSearch" class="bg-black-25 mt-2  " style="height: 0.5px !important"></div>
    </div>
  </div>









  <div *ngIf="isSearch" class="d-flex flex-column gap-2">


    <div *ngIf="categoryService.getActiveCategory()!==allCategories"
         class="d-flex px-2 justify-content-between bg-light-darker py-1 align-items-center">
      <span class="small">{{categoryService.getActiveCategory().name}}</span>
      <button (click)="categoryService.setActiveCategory(allCategories);
                      searchService.onUpdate()"
              class="btn btn-light bg-light-darker btn-sm p-0 px-1 border-0">
        <i class="bi-x "></i>
      </button>
    </div>









    <div class="bg-black-25 mt-2  " style="height: 0.5px !important"></div>
    <div id="preisFilter" class="d-flex flex-column">
      <span class="fw-normal mb-2" style="font-weight: 500!important;;">Preis</span>
      <div class="d-flex gap-1">
        <input type="number" class="form-control form-control-sm"
               placeholder="von" [value]="searchService.preisFrom"
               (change)="onChangeFrom($event)"/>
        <span>-</span>
        <input type="number" class="form-control form-control-sm"
               placeholder="bis" [value]="searchService.preisTo"
               (change)="onChangeTo($event)"/>
        <button (click)="logger('from = '+searchService.preisFrom);logger('to = '+searchService.preisTo);"
                class="btn btn-success bg-ebay btn-sm">
          <i class="bi-arrow-right-short"></i>
        </button>

      </div>
    </div>









    <div class="bg-black-25 mt-2  " style="height: 0.5px !important"></div>

    <div id="anbieterFilter" class="d-flex flex-column gap-1">
      <span class="fw-normal mb-2 " style="font-weight: 500!important;;">Anbieter</span>
      <div class="d-flex cursor-pointer " (click)="searchService.anbieter='privat';;searchService.onUpdate()"
           [ngClass]="{'px-2 py-1 bg-light-darker':searchService.anbieter==='privat'}">
        <span class="small fs-13-px t">Privat</span>
        <button *ngIf="searchService.anbieter==='privat'"
                (click)="searchService.anbieter='';$event.stopPropagation();searchService.onUpdate()"
                class="btn btn-light bg-light-darker btn-sm ms-auto p-0 px-1 border-0">
          <i class="bi-x "></i>
        </button>
      </div>
      <div class="d-flex cursor-pointer "
           (click)="searchService.anbieter='gewerblich';searchService.onUpdate()"
           [ngClass]="{'px-2 py-1 bg-light-darker':searchService.anbieter==='gewerblich'}">
        <span class="small fs-13-px t">Gewerblich</span>
        <button *ngIf="searchService.anbieter==='gewerblich'"
                (click)="searchService.anbieter='';$event.stopPropagation();searchService.onUpdate()"
                class="btn btn-light bg-light-darker btn-sm p-0 px-1 border-0 ms-auto">
          <i class="bi-x "></i>
        </button>
      </div>
    </div>




    <div class="bg-black-25 mt-2  " style="height: 0.5px !important"></div>
    <div id="CityFilter" class="d-flex flex-column">
        <span class="fw-normal mb-2 " style="font-weight: 500!important;">Ort</span>
      <div *ngIf="citiesService.activeCity.code !== citiesService.deutschland.code"
           class="d-flex px-2 justify-content-between bg-light-darker py-1 align-items-center">
        <span class="small">{{citiesService.activeCity.name}}</span>
        <button (click)="citiesService.activeCity=citiesService.deutschland;
                        searchService.onUpdate()"
                class="btn btn-light bg-light-darker btn-sm p-0 px-1 border-0">
          <i class="bi-x "></i>
        </button>
      </div>
      <div *ngIf="citiesService.activeCity.code === citiesService.deutschland.code"
           class="d-flex flex-column gap-1">
         <span  *ngFor="let city of cities"
                (click)="citiesService.activeCity = city;
                       searchService.onUpdate()"
               class="text-black cursor-pointer w-auto" style="font-size: 12px;">{{city.name}}</span>
      </div>
    </div>


  </div>
</div>
