<div class="bg-white d-flex flex-column mx-2 p-3 gap-2  mt-3 mt-md-3">
  <span class="fw-500 fs-5  ">Nachricht schreiben</span>
  <div class="bg-black-25 w-100" style="height: 0.5px;"></div>
  <form [action]="url">
    <div class="container-fluid p-0">
      <div class="row g-3 mt-0 text-black-50">
        <div class="col-12 col-md-3">
          <label for="msg" class="small  fw-500 form-label">Nachricht</label>
        </div>
        <div class="col-12 col-md-9">
          <textarea id="msg" name="message" [(ngModel)]="messageService.message"
                    class="form-control" rows="3" required></textarea>
        </div>
        <div class="col-12 col-md-3">
          <label for="name" class="small fw-500 form-label ">Name</label>
        </div>
        <div class="col-12 col-md-9">
          <input id="name" [(ngModel)]="messageService.contact_name"
                 name="message" class="form-control" type="text" required/>
        </div>
        <div class="col-12 col-md-9 ms-auto">
          <p class="fs-13-px" type="text"> Infos zum Umgang mit Nachrichten zum Schutz vor
            verdächtigem Verhalten und zur Einhaltung der
            bei Absenden geltenden
            Nutzungsbedingungen sind in der Datenschutzerklärung nachzulesen.</p>
        </div>
      </div>
    </div>
    <div *ngIf="is_sent" class="d-flex gap-2">
      <i class="bi-check-lg text-success"></i>
      <span class="small text-success"> message sent successfully</span>
    </div>
    <div class="d-flex justify-content-end">
      <button (click)="sendMessage()"
              class="btn btn-success ms-auto bg-ebay bg-hover-ebay-darker d-flex gap-2 align-items-center">
        <i class="bi-chat-left-text  "></i>
        <span>Nachricht senden</span>
      </button>
    </div>
  </form>
</div>
