<div class="container-fluid px-0   bg-ebay-background " >
  <div class="container-lg px-0 px-sm-2 px-lg-3 px-xl-5 pt-3 pb-5  ">
    <div class="row gx-3 gy-3 mt-0 justify-content-center ">
      <div class="col-12 col-sm-10 col-md-10 col-lg-9">
        <app-user-detail [myadd]="true" [user]="user"></app-user-detail>
      </div>
      <div class="col-12 col-sm-10 col-md-10 col-lg-9 ">
        <div class="d-flex flex-column gap-3" *ngIf="userAdds">
          <app-search-item *ngFor="let item of userAdds" [item]="item"></app-search-item>
        </div>
        <div class="d-flex flex-column gap-3" *ngIf="!userAdds">
          <app-search-item-placeholder *ngFor="let item of [].constructor(15)"></app-search-item-placeholder>
        </div>

      </div>
    </div>
  </div>
</div>
