<div class="px-3 py-2 bg-white  d-flex placeholder-glow flex-column  align-items-center ">
  <div
    class="d-flex p-3 position-relative  align-items-center    justify-content-center rounded-circle bg-secondary  "
    style="width: 2rem!important;height: 2rem!important; top:-1.3rem;box-sizing:content-box ">
    <span *ngIf="user" class="text-white fs-2  fw-500">{{user.user_logo}}</span>
    <span *ngIf="!user" class="text-white fs-2  fw-500">?</span>
  </div>
  <span *ngIf="user" class="h5 fw-500">{{user.user_name}}</span>
  <span *ngIf="!user" class="h5 fw-500 placeholder col-4"></span>
  <span *ngIf="user" class="fw-500 text-black-50">{{user.user_type}}</span>
  <span *ngIf="!user" class="fw-500 mt-1 text-black-50 placeholder col-6"></span>
  <span *ngIf="user" class="fw-500 text-black-50">{{user.active_since}}</span>
  <span *ngIf="!user" class="fw-500 mt-1 text-black-50 placeholder col-9 "></span>
  <button
    class="btn btn-outline-light text-ebay  btn-sm px-3 py-1 gap-2 fs-13 rounded-3 fw-500 d-flex justify-content-center mt-3 align-items-center border-2">
    <i class="bi-person"></i>
    <span>Folgen</span>
  </button>
  <div class="container-fluid pt-2  ">
    <div class="row gx-3 gx-md-5 gy-2 p-2 row-cols-4 overflow-auto pb-4 row-cols-sm-6 row-cols-lg-2 flex-nowrap flex-lg-wrap justify-content-center"
    [ngClass]="{'row-cols-lg-6 ':myadd}" >
      <div *ngFor="let rating of profile_rating" class="col">
        <div class="d-flex flex-column align-items-center ">
          <div
            class="w-100 rounded-circle border border-2 border-ebay d-flex justify-content-center align-items-center "
            style="aspect-ratio: 1/1">
            <i class="fs-4 text-warning" [class]="rating.icon"></i>
          </div>
          <span class="text-black-50 fs-10-px lh-1 mt-2 fw-500">{{rating.value}}</span>
          <span class="text-black-50 fs-12-px lh-1 mt-1 fw-500" >{{rating.name}}</span>
        </div>
      </div>
    </div>
  </div>


</div>
