<div
  class="container-fluid p-0 p-md-3 bg-white border-top border-bottom border-1  ">
  <div class="row gx-2 gx-md-3">
    <div class="col-4 cursor-pointer">

      <div style="aspect-ratio: 4/3;"
           class="w-100 bg-light opacity-75 w-100 h-100 h-md-auto d-flex align-items-center justify-content-center"
      >
        <i class="bi-mortarboard-fill  display-3 text-ebay"></i>
      </div>
    </div>
    <div class="col-8">
      <div class="d-flex flex-column gap-2 h-100 placeholder-glow ">
        <div class="d-flex gap-2 text-black-50 small align-items-center">
          <i class="bi-geo-alt text-black-50"></i>
          <span class="small placeholder col-2"></span>
          <i class="bi-calendar  ms-auto"></i>
          <span class="small placeholder col-1"></span>
        </div>
        <div class="fs-13-px fs-md-5 fw-md-bold placeholder col-8 lh-1 pb-1 pb-lg-2 cursor-pointer  "
             style="word-wrap: break-word"
        ></div>
        <div class="d-flex gap-1 flex-wrap">
          <span class="d-none d-md-block text-black-50 lh-1  small placeholder col-6"></span>
          <span class="d-none d-md-block text-black-50 lh-1  small placeholder col-5 ms-1"></span>
          <span class="d-none d-md-block text-black-50 lh-1  small placeholder col-3"></span>
          <span class="d-none d-md-block text-black-50 lh-1  small placeholder col-5 ms-1"></span>
        </div>
<!--        <div class="d-flex gap-2 mt-md-auto  align-items-center">-->
<!--          <div class="text-ebay fs-13-px fs-md-5   fw-md-bold placeholder col-1"-->
<!--          ></div>-->
<!--          <span class="d-none d-md-block text-black-50 pb-0 mb-0 small placeholder col-2"></span>-->
<!--        </div>-->
<!--        <div class="d-none d-md-block">-->
<!--            <span [class.bg-transparent]="!item.direkt_kaufen"-->
<!--                  class="fs-12-px fw-normal text-dark badge rounded-pill bg-ebay-background ">-->
<!--              {{item.direkt_kaufen}}-->
<!--            </span>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
