<div class="container-fluid   bg-ebay-background ">
  <div class="container-lg  px-lg-3 px-xl-5    ">
    <app-main-categories-sm [categories]="categories"></app-main-categories-sm>
    <div class="container-fluid  px-0">
      <div class="row gx-4 py-2 py-lg-5">
        <div class="d-none d-lg-block col-lg-3 p-2">
          <app-main-categories-lg [categories]="categories"></app-main-categories-lg>
        </div>
        <div class="col-12 col-lg-9 ">
          <div class="p-2 pb-0 bg-ebay-background bg-lg-yellow  ">
            <div class="d-flex gap-2 align-items-center mb-2">
              <span class="fw-bold  text-black me-auto">Galerie</span>
              <span class="text-black fw-light d-none d-lg-block">Anzeige hier platzieren</span>
              <i class="bi-arrow-left-short  text-black bg-white px-1 cursor-pointer  rounded-2"
              (click)="scrollLeft(scrollDiv)"></i>

              <i class="bi-arrow-right-short text-black bg-white px-1 cursor-pointer  rounded-2"
              (click)="scrollRight(scrollDiv)"></i>
            </div>

            <div class="container-fluid p-0  ">
              <div #scrollDiv class="row g-2 row-cols-2 row-cols-sm-3 pb-3 row-cols-md-4 flex-nowrap overflow-hidden">
                <div *ngFor="let item of galereis" class="col">
                  <app-main-item [item]="item" [galerie]="true"></app-main-item>
                </div>
                <div  *nggFor="let item of [].constructor(5)" class="col"
                      [ngClass]="{'p-0 m-0':galereis.length > 0}">
                  <div  ngIf="galereis.length == 0">
                    <app-main-item-placeholder [galerie]="true"></app-main-item-placeholder>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 bg-ebay-background  mt-5 ">
            <div class="d-flex gap-2 align-items-center mb-2">
              <span class="fw-bold  text-black me-auto">für dich empfohlen</span>
              <span class=" fw-light text-ebay">Anzeige Aufgaben</span>
            </div>
            <div class="container-fluid p-0 text-center ">
              <div class="row g-2 row-cols-2 row-cols-sm-3 row-cols-md-4 ">
                <div *ngFor="let item of mainItems;index as i "
                     class="col"
                     [ngClass]="{'p-0 m-0':i>=mainCount}">
                  <ng-container *ngIf="i<mainCount">
                    <app-main-item [item]="item"></app-main-item>
                  </ng-container>
                </div>
                <div class="col"  *ngFor="let item of [].constructor(40)"
                     [ngClass]="{'p-0 m-0':mainItems.length > 0}">
                  <div *ngIf="mainItems.length == 0">
                    <app-main-item-placeholder></app-main-item-placeholder>
                  </div>
                </div>
              </div>
              <button
                class="btn btn-light  mt-3 text-ebay small fw-500 p-3 py-2 mx-auto border-ebay bg-white text-hover-ebay bg-hover-light"
                *ngIf="mainItems.length>40"
                (click)="mainCount=mainCount+40">Weitere Anzeigen
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
