<div *ngIf="login && ! login.is_logged"
     class="position-absolute top-50 start-50 translate-middle  py-5 px-2   text-black-50 fw-500 fs-13-px">
  <span>to view this page, you have to </span>
  <span class="cursor-pointer text-primary text-decoration-hover-underline"
        (click)="modalService.open(modalTemplate)"
  >Login</span>
</div>
<div *ngIf="!login"
     class="position-absolute top-50 start-50 translate-middle  py-5  px-2 ">
  <span class="spinner-border text-ebay"></span>
</div>

<app-login-window (setModalTemplate)="modalTemplate=$event"></app-login-window>
