

<ng-template #conTemplate>


  <!--    ****************     Appbar top sm  *****************-->
  <div #appbar_top style="z-index: 4;" id="appbar-sm-top"
       class="bg-ebay mx-sm-5 me-sm-4p  position-sticky top-0  d-lg-none py-2">
    <div class="container-lg   px-sm-3 px-md-5 ">
      <div class="d-flex gap-2 text-white gap-md-5 gap-sm-3 justify-content-between align-items-center ">
        <button
          (click)="offcanvasService.open(content)"
                class="btn btn-outline-secondary bg-hover-black-30 border-white border-0 bg-ebay ">

          <i class="bi-list text-white fs-5"></i>
        </button>

        <ng-template  #content let-offcanvas >
          <div class="offcanvas-header pb-1 placeholder-glow bg-ebay d-flex align-items-start flex-column ps-3 pt-4 pt-md-2">
            <div
              class="badge mb-3 mb-md-2  rounded-circle fs-3 lh-sm text-ebay bg-white d-flex align-items-center justify-content-center"
              style="width: 3rem;height: 3rem;">
              <span *ngIf="login && login.is_logged">{{login.user_name.charAt(0)}}</span>
            </div>
            <span *ngIf="login && login.is_logged" class="fw-bold">{{login.user_name}}</span>
            <span *ngIf="login && login.is_logged">{{login.user_email}}</span>
            <span *ngIf="!login" class="placeholder col-4 text-white "></span>
<!--            <span *ngIf="!login" class="placeholder col-6 mt-1"></span>-->

            <span *ngIf="login && !login.is_logged" class="fw-bold cursor-pointer"
            (click)="modalService.open(modalTemplate)">Login</span>
            <app-login-window (setModalTemplate)="modalTemplate=$event"></app-login-window>
          </div>
          <div class="offcanvas-body">
            <div class="d-flex flex-column text-black gap-2 gap-md-1 ms-2">
              <div *ngFor="let item of menu" (click)="item.onItemClick()"
                   class="d-flex cursor-pointer gap-3 align-items-center">
                <i [class]="item.icon" class="fs-3 fs-md-5"></i>
                <span class="small">{{item.name}}</span>
              </div>
            </div>
          </div>
        </ng-template>


        <div class="input-group input-group-sm flex-grow-1 ">
          <input type="text" (keyup.enter)="onSearch()"
                 [(ngModel)]="searchService.activeSearch" class="form-control   ">
          <span class="input-group-text cursor-pointer"
              (click)="onSearch()">
            <i class="bi-search" ></i>
          </span>
        </div>
        <button
          class="btn btn-outline-secondary bg-hover-black-30 border-white border-0 bg-ebay ">
          <i class="bi-bell text-white fs-5"></i>
        </button>

      </div>
    </div>
  </div>

  <!--  //*****************************************************************-->
  <!--    ****************     Appbar middle   sm -->
  <!--  //*****************************************************************-->

  <div *ngIf="router.url.includes('/search')" class="bg-ebay mx-sm-5 me-sm-5  d-block d-lg-none py-2 border-0"
  >
    <!--  [style]="{marginTop:appbar_top.clientHeight+'px'}"-->
    <div class="container-lg  px-sm-3 px-md-5 border-0">
      <div class="d-flex gap-1 gap-md-3 justify-content-md-center">

        <button data-bs-toggle="offcanvas" data-bs-target="#filterMenu"
                class="btn btn-secondary btn-sm bg-black-25 bg-hover-black-30 rounded-pill d-flex align-items-center gap-2 ">
          <i class="bi-filter"></i>
          <span class="small">Filter</span>
          <i class="bi-arrow-down-short"></i>
        </button>

        <button data-bs-toggle="offcanvas" data-bs-target="#filterCity"
                class="btn text-white  btn-outline-secondary bg-hover-black-30 btn-sm border-1 border-white  py-0 rounded-pill d-flex align-items-center gap-2 ">
          <span class="small">{{getCityName()}}</span>
          <i class="bi-arrow-down-short"></i>
        </button>

        <button data-bs-toggle="offcanvas" data-bs-target="#filterCategory"
                class="btn text-white btn-outline-secondary btn-sm bg-hover-black-30 border-1 border-white  py-0 rounded-pill d-flex align-items-center gap-2 ">
          <span class="small">{{categoryService.activeCategory.name.slice(0,16)}}</span>
          <i class="bi-arrow-down-short"></i>
        </button>

        <app-search-filter-sm [categories]="categories" ></app-search-filter-sm>
      </div>
    </div>
  </div>


  <!--    ****************     Appbar bottom sm 1  *****************-->

  <div *ngIf="!router.url.includes('messages')" class="bg-ebay-background d-block d-lg-none py-2">
    <div class="container-lg  px-sm-3 px-md-5 py-3 ">
      <div
        class="d-flex cursor-pointer justify-content-center align-items-center">
        <img [src]="modeService.getLogoUrl()" style="width: 13rem;" alt="">
      </div>
    </div>
  </div>


</ng-template>
