<!--    ****************     Appbar top lg  *****************-->
<div class="bg-lg-white">
  <div class="  container-lg px-lg-3 px-xl-5 py-2 d-none d-lg-block bg-lg-white ">
    <div class="d-none d-md-flex justify-content-between  "
      [class.align-items-end]="!login" [class.align-items-center]="login">
      <div class="d-flex flex-column cursor-pointer">
        <img src="../../../assets/logo.png" [routerLink]="['/']" style="width: 13rem;" alt="">
        <span class="fw-bold text-black-50  fs-6  ">Kostenlos. Einfach. Lokal</span>
      </div>
      <div *ngIf="login" class="d-flex gap-3  align-items-center">
        <span class="small">angemeldet als: zakirelkheir2@gmail.com</span>
        <span (click)="cookiesService.clearCookies();loginService.logout();refreshPage()"
          class="fw-bold cursor-pointer text-ebay">Ausloggen</span>
        <i class="bi-bell fs-4 cursor-pointer text-dark"></i>
      </div>
      <div *ngIf="!login" class="d-flex gap-3  align-items-end h-100">
        <button (click)="modalService.open(modalTemplate)"
          class="btn  gap2 text-white btn-secondary bg-ebay mb-2 text-hover-ebay-darker border-0 d-flex py-2 gap-2 px-3 align-items-center">
          <i class="bi-person fs"></i>
          <span class="fs-10 fw-500">Einloggen</span>
        </button>
        <app-login-window (setModalTemplate)="modalTemplate=$event"></app-login-window>
      </div>
    </div>
  </div>
</div>

<!--    ****************     Appbar bottom lg  *****************-->
<div class="bg-ebay d-none d-lg-block ">
  <div class="container-lg px-lg-3 px-xl-5 ">

    <div class="d-flex gap-2 justify-content-between align-items-center  ">
      <div class="d-flex align-items-center gap-3">
        <div class="input-group input-group-sm  " style="width: auto!important;">
          <input type="text" class="form-control   " (keyup.enter)="onSearch()"
                 [(ngModel)]="searchService.activeSearch"
                 style="width: 10rem;"
          >
          <app-category-dropdown [categories]="categories" ></app-category-dropdown>
        </div>
        <div class="input-group input-group-sm  " style="width: auto!important;">
          <app-city-typeahead ></app-city-typeahead>
          <!--                   (selectItem)="logger($event.item.code)"-->
          <!--            <input type="text" class="form-control  " >-->
          <app-city-range-dropdown></app-city-range-dropdown>
        </div>
        <button (click)="navigationService.navigateSearchPage()"
                class="btn btn-secondary bg-hover-black-30  bg-black-25 btn-sm d-flex gap-2">
          <i class="bi-search"></i>
          <span>Finden</span>
        </button>

      </div>


      <div class="d-flex align-items-center gap-2    ">
        <div
          class="d-flex gap-2 text-white pt-1 mt-1 pb-2 px-1 bg-hover-white text-hover-dark  align-items-center rounded-top">
          <i class="bi-bag-plus fs-5"></i>
          <span class="small">Anzeige Aufgaben</span>
        </div>
        <div class="bg-white py-2  " style="min-height: 2rem;width: 1px;"></div>
        <div
          class="d-flex gap-2 position-relative transition-500-ms  text-white pt-1 mt-1 pb-2 px-1  bg-hover-white text-hover-dark w-auto align-items-center rounded-top"
          (mouseover)=" menu.style.visibility='visible';menu.style.opacity='1'"
          (mouseleave)=" menu.style.visibility='hidden';menu.style.opacity='0'">

          <div #menu
               class="position-absolute transition-500-ms end-0 bg-white border-bottom border-end border-start border-1 border-ebay z-3"
               style=" width: 9rem!important;
             visibility: hidden ; opacity: 0;"
               [ngStyle]="{'bottom':'-'+meinsList.style.height , 'height':meinsList.style.height}"
          >
            <ul #meinsList class="list-unstyled  d-flex flex-column gap-2 p-2 ps-2"
                style="height: 12rem;">
              <li class="small fw-500 ms-2 text-black-50 cursor-pointer text-decoration-hover-underline "
                  *ngFor="let item of meinsItems">{{item.name}}</li>
              <div class="bg-black-25 " style="height: 0.5px;"></div>
              <li *ngFor="let item of meinsItems2"
                  class="small fw-500   cursor-pointer text-decoration-hover-underline"
                  [ngClass]="{'text-primary opacity-50': item.name.includes('uns'),
                  'text-black-50':!item.name.includes('uns')}">{{item.name}}</li>
            </ul>
          </div>
          <i class="bi-person fs-5 "></i>
          <span class="small">Meins</span>
        </div>
      </div>
    </div>
  </div>
</div>

