<div #con id="con"
     class="d-flex flex-column bg-white  text-ebay    overflow-hidden border-start"
>

  <div style="height: 5rem;" #top
       class="px-3 py-2 d-flex align-items-center gap-2 border-top border-bottom placeholder-glow ">
    <i class="d-block d-lg-none cursor-pointer bi-arrow-left-short text-ebay fs-2 "
       (click)="this.setMode.emit('conversations')"></i>
    <img [src]="getImageUrl()" alt=""
         class="rounded-circle"
         style="width: 3.5rem;height: 3.5rem">
    <span *ngIf="conversation" class="text-ebay fw-500 cursor-pointer "
          (click)="onTitleClicked()">{{conversation.adTitle}}</span>
    <span *ngIf="!conversation" class="text-ebay fw-500 placeholder col-7"></span>
  </div>
  <div id="scrollMessage" #scrollMessage
    class="bg-ebay-background border-start border-end overflow-y-auto  border border-dark-subtle border-1  "
    [style]="{height:con.clientHeight-top.clientHeight-form.clientHeight+'px'}">
    <div *ngIf="!conversation"
         class="d-flex align-items-center h-100 justify-content-center">
      <div class="spinner-border text-ebay" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div *ngIf="conversation"
         class="p-2 min-h-100  d-flex px-3 flex-column justify-content-end  gap-3">
      <div *ngFor="let msg of conversation.messages;index as i" class="d-flex "
           [class.justify-content-end]="isMe(msg)"
           [class.justify-content-start]="!isMe(msg)">
        <div *ngIf="isMe(msg)"
             class="bg-ebay  text-white fs-12-px fw-500 mw-50 mxw-75 p-2 px-4 rounded-start-5 rounded-top-5">
          <span>{{msg.textShort}}</span>
        </div>
        <div *ngIf="!isMe(msg)" class="d-flex gap-2 align-items-end" >
          <div class="badge flex-shrink-0 cursor-pointer rounded-circle p-3 fs-5 fw-500  bg-dark-subtle text-dark d-flex justify-content-center align-items-center"
               (click)="onUserClicked()"
               style="width: 3rem;height: 3rem;">
            {{getHisInitials()}}</div>
          <div class="d-flex flex-column gap-1">
            <div class="bg-white text-dark fs-12-px fw-500 mw-50 mxw-75 p-2 px-4 rounded-end-5 rounded-top-5  ">
              <span>{{msg.textShort}}</span>
            </div>
            <span class="fs-12-px fw-500">Heute 20:29</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="p-2 px-3 " #form>
    <div class="mb-2 ">
      <label for="exampleFormControlTextarea1"  class="form-label fs-13-px">Nachricht</label>
      <textarea   [(ngModel)]="message"
        class="form-control fs-12-px fw-500 bg-ebay-background" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="text-end">
      <button (click)="sendMessage.emit(message)"  (keyup.enter)="sendMessage.emit(message)"
        class="btn btn-success bg-ebay   bg-hover-ebay-darker fs-13-px fw-bold">
        Senden
      </button>
    </div>
  </div>

</div>
