<ng-template #template>

  <!--    ****************     Appbar top sm  *****************-->
  <div #appbar_top class="bg-ebay mx-sm-5 me-sm-4p  position-sticky top-0  d-lg-none py-2">
    <div class="container-lg  px-sm-3 px-md-5 ">
      <div class="d-flex gap-2 text-white gap-md-5 gap-sm-3 justify-content-between align-items-center ">
        <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                class="btn btn-outline-secondary border-white border-0 bg-ebay ">
          <i class="bi-list text-white fs-5"></i>
        </button>

        <div class="offcanvas offcanvas-start  " style="width: 16rem;" tabindex="-1" id="offcanvasExample">
          <div class="offcanvas-header pb-1 bg-ebay d-flex align-items-start flex-column ps-3 pt-4 pt-md-2">
            <div
              class="badge mb-3 mb-md-2  rounded-circle fs-3 lh-sm text-ebay bg-white d-flex align-items-center justify-content-center">
              Z
            </div>
            <span class="fw-bold">Zakir</span>
            <span>zakirelkheir@gmail.com</span>
            <!--            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>-->
            <!--            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
          </div>
          <div class="offcanvas-body">
            <div class="d-flex flex-column text-black gap-2 gap-md-1 ms-2">
              <div *ngFor="let item of menu" class="d-flex cursor-pointer gap-3 align-items-center">
                <i [class]="item.icon" class="fs-3 fs-md-5"></i>
                <span class="small">{{item.name}}</span>
              </div>
            </div>
          </div>
        </div>


        <div class="input-group input-group-sm flex-grow-1 ">
          <input type="text" [(ngModel)]="search" class="form-control   ">
          <span class="input-group-text cursor-pointer"><i class="bi-geo-alt-fill"></i></span>
        </div>
        <i class="bi-bell text-white fs-5"></i>
      </div>
    </div>
  </div>


  <!--    ****************     Appbar middle   sm  *****************-->
  <div *ngIf="search" class="bg-ebay mx-sm-5 me-sm-5  d-block d-lg-none py-2 border-0"
  >
    <!--  [style]="{marginTop:appbar_top.clientHeight+'px'}"-->
    <div class="container-lg  px-sm-3 px-md-5 border-0">
      <div class="d-flex gap-1 gap-md-3 justify-content-md-center">
        <button class="btn btn-secondary btn-sm bg-black-25 rounded-pill d-flex align-items-center gap-2 ">
          <i class="bi-filter"></i>
          <span class="small">Filter</span>
          <i class="bi-arrow-down-short"></i>
        </button>

        <button
          class="btn text-white btn-outline-secondary btn-sm border-1 border-white  py-0 rounded-pill d-flex align-items-center gap-2 ">
          <span class="small">Deutschland</span>
          <i class="bi-arrow-down-short"></i>
        </button>

        <button
          class="btn text-white btn-outline-secondary btn-sm border-1 border-white  py-0 rounded-pill d-flex align-items-center gap-2 ">
          <span class="small">Alle Kategorien</span>
          <i class="bi-arrow-down-short"></i>
        </button>
      </div>
    </div>
  </div>
  <!--    ****************     Appbar bottom sm 1  *****************-->
  <div class="bg-ebay-background d-block d-lg-none py-2" >
    <div class="container-lg  px-sm-3 px-md-5 py-3 " >
      <div class="d-flex justify-content-center align-items-center" >
        <img src="../../assets/logo.png" style="width: 13rem;" alt="">
      </div>
    </div>
  </div>


</ng-template>
